.tabs {
  text-align: center;
  color: #9f9f9f;
  background-color: #121212;
  box-shadow: -2px 2px 7px 0px #7f7f7f;
  position: fixed;
  bottom: 0;
  width: 100%;

}
.tabs-container {
  margin: 0 auto;
  max-width: 700px;
}

.tabs ul {
  padding: 0;
  margin: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  /* font-family: "TexGyreTermes"; */
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.2em;
  font-size: 10px;
}

.tabs ul li {
  padding: 15px 10px;
  width: 25%;
  text-decoration: none;
  display: block;
  list-style-type: none;
  transition: all .3s linear;
  position: relative;
}

.tabs ul li::before, .tabs ul li::after {
  content: '';
  position: absolute;
  top: 0;
  width: 0%;
  height: 100%;
  transition: all .3s linear;
}

.tabs ul li::before {
  right: 50%;
  transform: translateX(50%);
}

.tabs ul li::after {
  left: 50%;
  transform: translateX(-50%);
}

.tabs ul li:hover {
  color: #e4e4e4;
  cursor: pointer;
}

.tabs ul li:not(.active):hover::before, 
.tabs ul li:not(.active):hover::after {
  width: 100%;
  background-color: #38383869;
}
.tabs ul li.active::after,
.tabs ul li.active::before {
  width: 100%;
  background-color: #ffffff17;
}

/* @media (max-width: 767px), (pointer: coarse) {
  .tabs ul li:not(.active):hover::before, 
  .tabs ul li:not(.active):hover::after {
    background-color: none !important;
  }
} */

.tabs .tab-content {
  position: relative;
  z-index: 1;
}

.tabs .tab-content span {
  align-items: center;
  color: inherit;
  text-decoration: none;
}

.tabs .tab-content .fa-icon {
  display: block;
  margin: 0 auto;
  margin-bottom: 5px;
  font-size: 12px;
}
