.history {
  color: white;
  font-size: 20px;
}

.history .history-content {
  display: flex;
  flex-direction: column;
}

.history .history-content-empty {
  /* margin: 0 auto; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.history .history-content-empty img,
.history .history-content-empty .fa-table {
  /* max-width: 125px; */
  max-width: 100px;
  height: auto;
}

.history .history-content-empty p {
  margin: 25px 10px;
  color: #9f9f9f;
  text-align: center;
  letter-spacing: 0.1em;
  font-size: 16px;
}
.history .history-filters {
  display: flex;
  padding: 15px 20px 35px;
  justify-content: space-between;
  font-size: 15px;
  letter-spacing: 0.1em;
}
.history .history-filters label {
  display: block;
}
.history .history-filters input {
  background-color: #ffffff27;
  border: none;
  border-radius: 3px;
  padding: 5px;
}

.history-table {
  width: 100%;
}

.history-table .table-header,
.history-table .table-row {
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}
.history-table .table-header {
  background-color: #17171799;
  font-size: 12px;
  padding: 15px 20px;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}
.history-table .table-row {
  background-color: #ffffff27;
  font-size: 16px;
  padding: 20px 20px;
  transition: all .3s ease-in-out;
}
.history-table .table-row:hover,
.history-table .table-row:focus,
.history-table .table-row:active {
  background-color: #ffffff37;
  transform: scale(1.01);
  cursor: pointer;
}
.history-table .col:not(:last-child) {
  margin-right: 10px;
}
.history-table .col-1 { /*room*/
  flex-basis: 26%;
}
.history-table .col-2 { /*status*/
  flex-basis: 18%;
}
.history-table .col-3 { /*bright*/
  flex-basis: 18%;
}
.history-table .col-4 { /*date*/
  flex-basis: 26%;
}
.history-table .col-5 { /*time*/
  flex-basis: 12%;
}

.history-table .col-num {
  font-size: 14px;
}



@media screen and (max-width: 600px) {
  .history-table .table-header {
    font-size: 10px;
    padding: 15px 15px;
  }
  .history-table .table-row {
    font-size: 13px;
    padding: 20px 15px;
  }
  .history-table .col-num {
    font-size: 12px;
  }
}


.ScrollAreaRoot {
  width: 200px;
  height: 225px;
  border-radius: 4px;
  overflow: hidden;
  box-shadow: rgb(165 164 164) 0px 0px 7px;
  background-color: white;
  --scrollbar-size: 10px;
}

.ScrollAreaViewport {
  width: 100%;
  height: 100%;
  border-radius: inherit;
}

.ScrollAreaScrollbar {
  display: flex;
  /* ensures no selection */
  user-select: none;
  /* disable browser handling of all panning and zooming gestures on touch devices */
  touch-action: none;
  padding: 2px;
  background: gray;
  transition: background 160ms ease-out;
}
.ScrollAreaScrollbar:hover {
  background: darkblue;
}
.ScrollAreaScrollbar[data-orientation='vertical'] {
  width: 3px;
}
.ScrollAreaScrollbar[data-orientation='horizontal'] {
  flex-direction: column;
  height: 3px;
}

.ScrollAreaThumb {
  flex: 1;
  background: red;
  border-radius: 3px;
  position: relative;
}
/* increase target size for touch devices https://www.w3.org/WAI/WCAG21/Understanding/target-size.html */
.ScrollAreaThumb::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  min-width: 44px;
  min-height: 44px;
}

.ScrollAreaCorner {
  background: green;
}

.Text {
  color: gray;
  font-size: 15px;
  line-height: 18px;
  font-weight: 500;
}

.Tag {
  color: gray;
  font-size: 13px;
  line-height: 18px;
  margin-top: 10px;
  border-top: 1px solid pink;
  padding-top: 10px;
}


.CheckboxRoot {
  background-color: white;
  width: 25px;
  height: 25px;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: rgb(165 164 164) 0px 0px 7px;
}
.CheckboxRoot:hover {
  background-color: blue;
}
.CheckboxRoot:focus {
  box-shadow: 0 0 0 2px black;
}

.CheckboxIndicator {
  color: violet;
}

.Label {
  /* color: gray; */
  padding-left: 15px;
  font-size: 15px;
  line-height: 1;
}
