.rooms {
}
.room {
  background-color: #ffffff27;
  display: flex;
  flex-flow: column;
  margin: 15px 0;
  padding: 15px 20px;
  border-radius: 10px;
}

.room-status {
  display: flex;
}

.fa-lightbulb {
  color: #ff7800;
  margin-right: 10px;
  font-size: 22px;
  transition: color .3s ease-in-out;
}

.room-name {
  font-size: 16px;
  color: white;
}

.room-switch {
  margin-left: auto;
}

.room-bright .room-bright-percent {
  font-size: 14px;
  color: white;
}

.room-room-bright .room-slider {
  
}
