.rooms {
  /* background-color: black; */
  max-width: 700px;
  margin: 0 auto;
}
.rooms-header {
  color: #9f9f9f;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform:uppercase;
  font-size: 18px;
  margin-top: 15px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.room {
  background-color: #ffffff17;
  color: white;
  display: flex;
  flex-flow: column;
  margin: 15px 0;
  padding: 15px 20px;
  border-radius: 10px;
}

.faBolt {
  color: #ff9800;
  font-size: 20px;
}

.room-status {
  display: flex;
}

.faLightbulb {
  color: #ff9800;
  margin-right: 10px;
  font-size: 22px;
}

.room-name {
  font-size: 16px;
}

.room-switch {
  margin-left: auto;
}

.room-dim {

}

.room-sliderbar {
  
}
