.room {
  background-color: #ffffff27;
  display: flex;
  flex-flow: column;
  margin: 25px 0;
  padding: 35px 25px;
  border-radius: 10px;
}

.room-status {
  display: flex;
  align-items: center;
}

.fa-lightbulb {
  color: #ff7800;
  /* color: #643104; */
  margin-right: 10px;
  font-size: 25px;
  transition: color .3s ease-in-out;
}

.room-name {
  font-size: 16px;
  color: white;
}

.room-switch {
  margin-left: auto;
}
